<div class="container card p-10">
    <div class="image" [style.background-image]="'url(' + musica.album.imagemUrl + ')'"></div>
    <span>
        {{ musica.titulo }}
    </span>
    <div class="controles">
        <div class="botoes">
            <fa-icon 
                (click)="voltarMusica()"
                [icon]="anteriorIcone"></fa-icon>
                <fa-icon [icon]="playIcone"></fa-icon>
            <fa-icon 
                (click)="proximaMusica()"
                [icon]="proximoIcone"
            >
            </fa-icon>
        </div>
    </div>
</div>