
$cor-verde-spotify: #37AB00;
$cor-primaria: #ffffff;
$cor-fundo: rgba(0, 0, 0, 0.678);
$cor-fundo2: rgb(0, 0, 0);


$preto-transparent-03: #ffffffee;
$preto-transparent-20: #ffffffc5;
$preto-transparent-30: #ffffff93;
$preto-transparent-70: #ffffffb3;
$branco: $cor-fundo2;

// $cor-primaria: #37AB00;
// $cor-fundo: #FBFEF4;
// $cor-fundo2: #FFF;


// $preto-transparent-03: #00000008;
// $preto-transparent-20: #00000033;
// $preto-transparent-30: #0000004D;
// $preto-transparent-70: #000000b3;
// $branco: $cor-fundo2;

